html {
	-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	line-height: 1.6; -webkit-font-smoothing: antialiased;
}
input {
	outline: 0px;
}
textarea {
	outline: 0px;
}
button {
	outline: 0px;
}
a {
	outline: 0px;
}
body {
	margin: 0px;
}
h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}
h3 {
	margin: 0px;
}
h4 {
	margin: 0px;
}
h5 {
	margin: 0px;
}
h6 {
	margin: 0px;
}
p {
	margin: 0px;
}
ul {
	margin: 0px;
}
ol {
	margin: 0px;
}
dl {
	margin: 0px;
}
dd {
	margin: 0px;
}
fieldset {
	margin: 0px;
}
textarea {
	margin: 0px;
}
fieldset {
	padding: 0px;
}
legend {
	padding: 0px;
}
textarea {
	padding: 0px;
}
input {
	padding: 0px;
}
ul {
	padding-left: 0px; list-style-type: none;
}
ol {
	padding-left: 0px; list-style-type: none;
}
a img {
	border: 0px currentColor; border-image: none;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0px;
}
button {
	margin: 0px; font-family: inherit; font-size: 100%;
}
input {
	margin: 0px; font-family: inherit; font-size: 100%;
}
select {
	margin: 0px; font-family: inherit; font-size: 100%;
}
textarea {
	margin: 0px; font-family: inherit; font-size: 100%;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
textarea {
	overflow: auto; vertical-align: top; resize: none;
}
select {
	border-radius: 0px; -webkit-border-radius: 0;
}
body {
	color: rgb(34, 34, 34); line-height: 1.6; font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","Î¢ÈíÑÅºÚ","ºÚÌå",Arial,sans-serif; font-size: 14px;
}
textarea {
	color: rgb(34, 34, 34);
}
input {
	color: rgb(34, 34, 34);
}
textarea:-ms-input-placeholder {
	color: rgb(163, 163, 163);
}
input:-ms-input-placeholder {
	color: rgb(163, 163, 163);
}
textarea {
	-ms-overflow-y: auto; resize: none;
}
a {
	color: rgb(69, 154, 233); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
button {
	
}
input {
	
}
select {
	
}
textarea {
	
}
.page_pay_qrcode .main_bd {
	padding: 50px 80px;
}
.page_appmsg_edit .main_bd {
	padding: 50px 30px 0px;
}
.page_tpl_edit .main_bd {
	padding: 50px;
}
.page_media_list .main_bd {
	padding: 20px 0px 40px;
}
.page_mass_list .main_bd {
	padding-bottom: 40px;
}
.container_box {
	min-height: 650px;
}
.float_layout.container_box {
	overflow: hidden;
}
.float_layout.container_box .col_side {
	width: 208px; padding-bottom: 9999em; margin-bottom: -9999em;
}
.float_layout.container_box .col_main {
	overflow: hidden;
}
.side_l.float_layout.container_box .col_side {
	float: left;
}
.side_r.float_layout.container_box .col_side {
	float: right;
}
.cell_layout.container_box {
	
}
.cell_layout.container_box .col_side {
	vertical-align: top; display: table-cell; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.cell_layout.container_box .col_main {
	vertical-align: top; display: table-cell; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.cell_layout.container_box .col_side {
	width: 17.5%; max-width: 208px;
}
.cell_layout.container_box .col_main {
	width: 2000px; height: 650px;
}
.cell_layout.container_box .col_side {
	
}
.cell_layout.container_box .col_main {
	
}
.side_r.cell_layout.container_box .col_side {
	
}
.col_ext {
	width: 20%;
}
.container_hd {
	line-height: 40px;
}
.main_hd {
	line-height: 40px;
}
.container_hd .info {
	text-align: right; margin-top: -40px;
}
.main_hd .info {
	text-align: right; margin-top: -40px;
}
.container_hd h2 {
	font-style: normal; font-weight: 400;
}
.main_hd h2 {
	font-style: normal; font-weight: 400;
}
.container_hd .extra_info {
	text-align: right; margin-top: -40px;
}
.main_hd .extra_info {
	text-align: right; margin-top: -40px;
}
.page {
	width: 100%; margin-right: auto; margin-left: auto;
}
.body {
	padding: 36px 0px 88px; width: 1200px; margin-right: auto; margin-left: auto;
}
.foot {
	padding: 24px 0px; text-align: center; color: rgb(241, 241, 241); background-color: rgb(184, 185, 185);
}
.container_box {
	border: 1px solid rgb(217, 218, 220); border-image: none; background-color: rgb(255, 255, 255);
}
.simple.container_box {
	overflow: hidden; background-color: rgb(255, 255, 255);
}
.container_hd h2 {
	padding: 0px 30px; line-height: 75px; font-size: 16px;
}
.main_hd h2 {
	padding: 0px 30px; line-height: 75px; font-size: 16px;
}
.container_hd a {
	color: rgb(34, 34, 34);
}
.main_hd a {
	color: rgb(34, 34, 34);
}
.container_hd .extra_info {
	line-height: 43px; padding-right: 30px; margin-top: -43px;
}
.main_hd .extra_info {
	line-height: 43px; padding-right: 30px; margin-top: -43px;
}
.container_hd .align_title.extra_info {
	line-height: 75px; margin-top: -75px;
}
.main_hd .align_title.extra_info {
	line-height: 75px; margin-top: -75px;
}
.container_hd .align_nav.extra_info {
	line-height: 80px; margin-top: -80px;
}
.main_hd .align_nav.extra_info {
	line-height: 80px; margin-top: -80px;
}
.container_hd .title_tab {
	margin-top: -14px;
}
.main_hd .title_tab {
	margin-top: -14px;
}
.page_news .container_hd h2 {
	line-height: 52px; background-color: rgb(244, 245, 249);
}
.page_simple .container_hd h2 {
	line-height: 52px; background-color: rgb(244, 245, 249);
}
.page_news .main_hd h2 {
	line-height: 52px; background-color: rgb(244, 245, 249);
}
.page_simple .main_hd h2 {
	line-height: 52px; background-color: rgb(244, 245, 249);
}
.page_news .container_hd .align_title.extra_info {
	line-height: 52px; margin-top: -52px;
}
.page_simple .container_hd .align_title.extra_info {
	line-height: 52px; margin-top: -52px;
}
.page_news .main_hd .align_title.extra_info {
	line-height: 52px; margin-top: -52px;
}
.page_simple .main_hd .align_title.extra_info {
	line-height: 52px; margin-top: -52px;
}
.container_bd {
	padding-bottom: 30px;
}
.main_bd {
	padding-bottom: 10px;
}
.inner_container_box {
	border: 1px solid rgb(231, 231, 235); border-image: none; background-color: rgb(255, 255, 255);
}
.inner_container_box::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.inner_container_box .bd {
	min-height: 530px;
}
.split.inner_container_box {
	border-width: 0px; border-radius: 0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.split.inner_container_box .bd {
	border-radius: 3px; border: 1px solid rgb(217, 218, 220); border-image: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.cell_layout.inner_container_box {
	
}
.cell_layout.inner_container_box .inner_side {
	vertical-align: top; display: table-cell; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.cell_layout.inner_container_box .inner_main {
	vertical-align: top; display: table-cell; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.cell_layout.inner_container_box .inner_side {
	width: 27%; max-width: 240px;
}
.cell_layout.inner_container_box .inner_main {
	width: 2000px;
}
.cell_layout.inner_container_box .inner_main {
	
}
.cell_layout.inner_container_box .inner_side {
	
}
.side_r.cell_layout.inner_container_box .inner_side {
	
}
.side_r.cell_layout.inner_container_box .inner_main {
	
}
.side_l.cell_layout.inner_container_box .inner_side {
	
}
.side_l.cell_layout.inner_container_box .inner_main {
	
}
.col_side {
	background-color: rgb(255, 255, 255);
}
.col_side {
	min-height: 1px;
}
.inner_side {
	min-height: 1px;
}
.col_side_primary {
	width: 208px;
}
.col_main_primary {
	overflow: hidden;
}
.side_l .col_side {
	border-right-color: rgb(231, 231, 235); border-right-width: 1px; border-right-style: solid;
}
.side_l .col_side_primary {
	margin-right: -1px; border-right-color: rgb(231, 231, 235); border-right-width: 1px; border-right-style: solid; float: left;
}
.side_l .col_main_primary {
	border-left-color: rgb(231, 231, 235); border-left-width: 1px; border-left-style: solid;
}
.inner_container_box.side_l .inner_side {
	border-right-color: rgb(231, 231, 235); border-right-width: 1px; border-right-style: solid;
}
.side_r .col_side {
	border-left-color: rgb(231, 231, 235); border-left-width: 1px; border-left-style: solid;
}
.side_r .col_side_primary {
	margin-left: -1px; border-left-color: rgb(231, 231, 235); border-left-width: 1px; border-left-style: solid; float: right;
}
.side_r .col_main_primary {
	border-right-color: rgb(231, 231, 235); border-right-width: 1px; border-right-style: solid;
}
.inner_container_box.side_r .inner_side {
	border-left-color: rgb(231, 231, 235); border-left-width: 1px; border-left-style: solid;
}
.grid_line {
	
}
.grid_line::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.grid_item {
	float: left;
}
.no_extra.grid_item {
	width: auto; overflow: hidden; float: none;
}
.no_extra_flex.grid_item {
	width: auto; vertical-align: top; float: none; display: table-cell;
}
.no_extra_flex.grid_item::after {
	height: 0px !important; line-height: 0; clear: both; display: block; visibility: hidden; content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
.size1of1 {
	width: 100%;
}
.size1of2 {
	width: 50%;
}
.size1of3 {
	width: 33.33%;
}
.size1of4 {
	width: 25%;
}
.size1of5 {
	width: 20%;
}
.size1of6 {
	width: 16.66%;
}
.size1of7 {
	width: 14.28%;
}
.size1of8 {
	width: 12.5%;
}
.frm_tab {
	overflow: hidden;
}
.frm_tab_navs {
	
}
.frm_tab_navs::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.frm_tab_nav {
	border-color: rgb(230, 231, 236); border-radius: 0px; width: auto; height: 30px; color: rgb(34, 34, 34); line-height: 30px; padding-right: 36px; padding-left: 36px; margin-right: -1px; float: left; background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 100%); background-color: rgb(255, 255, 255); -webkit-border-radius: 0; -moz-border-radius: 0;
}
.frm_tab_nav button {
	color: rgb(34, 34, 34);
}
.frm_tab_nav:hover {
	border-color: rgb(218, 219, 224); color: rgb(0, 0, 0); box-shadow: none; background-image: linear-gradient(rgb(230, 231, 236) 0px, rgb(230, 231, 236) 100%); background-color: rgb(230, 231, 236); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.frm_tab_nav:hover button {
	color: rgb(34, 34, 34);
}
.frm_tab_nav:hover {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.selected.frm_tab_nav {
	background: 0px rgb(136, 136, 136); border-color: rgb(231, 231, 235); color: rgb(255, 255, 255); box-shadow: inset 0px 3px 8px #555; -moz-box-shadow: inset 0 3px 8px #555; -webkit-box-shadow: inset 0 3px 8px #555;
}
.frm_tab_panel {
	padding: 10px 0px;
}
.frm_tab_split {
	margin-top: 20px; border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-shadow: 0px 1px 0px 0px #fff; -moz-box-shadow: 0 1px 0 0 #fff; -webkit-box-shadow: 0 1px 0 0 #fff;
}
.frm_tab_split .arrow_stop {
	position: relative;
}
.frm_tab_split .arrow {
	border-width: 0px 12px 12px; border-style: dashed dashed solid; border-color: transparent transparent rgb(231, 231, 235); left: 0px; width: 0px; height: 0px; display: inline-block; position: absolute;
}
.frm_tab_split .arrow_out {
	top: -12px; border-bottom-color: rgb(231, 231, 235);
}
.frm_tab_split .arrow_in {
	top: -10px; border-bottom-color: rgb(255, 255, 255);
}
.frm_tab_split .arrow_extra {
	top: -11px; border-bottom-color: rgb(255, 255, 255);
}
.frm_tab_tips {
	color: rgb(141, 141, 141); padding-top: 4px;
}
.simple.form_wrp {
	text-align: center;
}
.simple.form_wrp .form {
	text-align: left; display: inline-block;
}
.tips_inline.form .frm_tips {
	width: auto; display: inline-block;
}
.frm_vertical_lh {
	line-height: 32px;
}
.frm_vertical_pt {
	padding-top: 0.3em;
}
.frm_fieldset {
	padding-top: 25px;
}
.no_legend.frm_fieldset {
	padding-top: 25px;
}
.frm_legend {
	width: 100%; padding-bottom: 5px; display: block;
}
.frm_legend .tips {
	color: rgb(141, 141, 141); margin-left: 14px;
}
.frm_desc {
	color: rgb(34, 34, 34);
}
.frm_tips {
	width: 300px; color: rgb(141, 141, 141); padding-top: 4px;
}
.frm_msg {
	width: 300px; overflow: hidden; display: none;
}
.frm_msg i {
	font-style: normal; font-weight: 400; margin-right: 3px; float: left;
}
.success.frm_msg {
	color: rgb(127, 186, 79);
}
.fail.frm_msg {
	color: rgb(225, 95, 99);
}
.frm_control_group {
	padding-bottom: 25px;
}
.frm_control_group::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.show_value.frm_control_group {
	padding-bottom: 15px;
}
.show_value.frm_control_group .frm_input_box {
	background: 0px; border-width: 0px; padding: 0px; height: auto; line-height: 1.6; margin-top: 0.3em; vertical-align: top; -ms-word-break: break-all; -ms-word-wrap: break-word; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.frm_label {
	width: 5em; font-size: 14px; margin-top: 0.3em; margin-right: 1em; float: left;
}
.frm_label_tips {
	color: rgb(141, 141, 141); display: block;
}
.frm_controls {
	width: auto; vertical-align: top; float: none; display: table-cell;
}
.frm_controls::after {
	height: 0px !important; line-height: 0; clear: both; display: block; visibility: hidden; content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
.frm_input {
	outline: 0px; border: 0px currentColor; border-image: none; width: 100%; background-color: transparent;
}
.frm_textarea {
	outline: 0px; border: 0px currentColor; border-image: none; width: 100%; background-color: transparent;
}
.frm_input {
	margin: 4px 0px; height: 22px;
}
.frm_textarea {
	height: 100px;
}
.frm_input_box {
	padding: 0px 10px; border-radius: 0px; border: 1px solid rgb(231, 231, 235); border-image: none; width: 278px; height: 30px; line-height: 30px; font-size: 14px; vertical-align: middle; display: inline-block; position: relative; box-shadow: none; background-color: rgb(255, 255, 255); -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.frm_input_box .frm_input_append {
	font-size: 0px;
}
.search.frm_input_box {
	border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.append.frm_input_box {
	padding-right: 30px;
}
.append.frm_input_box .frm_input_append {
	top: 0px; right: 0.8em; position: absolute;
}
.prepend.frm_input_box {
	padding-left: 30px;
}
.prepend.frm_input_box .frm_input_append {
	left: 0.8em; top: 0px; position: absolute;
}
.vcode.frm_input_box {
	width: 157px;
}
.zone.frm_input_box {
	width: 72px; margin-right: 5px;
}
.phone.frm_input_box {
	width: 175px;
}
.frm_textarea_box {
	padding: 4px 0px 4px 10px; border-radius: 0px; border: 1px solid rgb(231, 231, 235); border-image: none; width: 288px; font-size: 14px; display: inline-block; box-shadow: none; background-color: rgb(255, 255, 255); -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.frm_input_box.disabled {
	background-color: rgb(238, 238, 238);
}
.frm_textarea_box.disabled {
	background-color: rgb(238, 238, 238);
}
.disabled .frm_input_box {
	background-color: rgb(238, 238, 238);
}
.disabled .frm_textarea_box {
	background-color: rgb(238, 238, 238);
}
.frm_input_box.focus {
	border-color: rgb(74, 155, 223); box-shadow: 0px 0px 5px #aedcfa; -moz-box-shadow: 0 0 5px #aedcfa; -webkit-box-shadow: 0 0 5px #aedcfa;
}
.frm_textarea_box.focus {
	border-color: rgb(74, 155, 223); box-shadow: 0px 0px 5px #aedcfa; -moz-box-shadow: 0 0 5px #aedcfa; -webkit-box-shadow: 0 0 5px #aedcfa;
}
.frm_select_box.focus {
	border-color: rgb(74, 155, 223); box-shadow: 0px 0px 5px #aedcfa; -moz-box-shadow: 0 0 5px #aedcfa; -webkit-box-shadow: 0 0 5px #aedcfa;
}
.frm_select_box.focus {
	
}
.frm_radio {
	left: -999em; position: absolute;
}
.frm_checkbox {
	left: -999em; position: absolute;
}
.frm_radio_label {
	text-align: left; margin-right: 1em; display: inline-block; cursor: pointer;
}
.frm_checkbox_label {
	text-align: left; margin-right: 1em; display: inline-block; cursor: pointer;
}
.no_extra.frm_radio_label {
	margin-right: 0px;
}
.no_extra.frm_checkbox_label {
	margin-right: 0px;
}
.disabled.frm_radio_label {
	color: rgb(153, 153, 153); cursor: default;
}
.disabled.frm_checkbox_label {
	color: rgb(153, 153, 153); cursor: default;
}
.icon_radio {
	margin-right: 4px;
}
.icon_checkbox {
	margin-right: 4px;
}
.frm_select_box {
	padding: 4px 0px; border-radius: 3px; border: 1px solid rgb(231, 231, 235); border-image: none; color: rgb(34, 34, 34); font-size: 14px; vertical-align: middle; display: inline-block; position: relative; background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 100%); background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.frm_select_box button {
	color: rgb(34, 34, 34);
}
.frm_select_box:hover {
	border-color: rgb(218, 219, 224); color: rgb(0, 0, 0); box-shadow: none; background-image: linear-gradient(rgb(230, 231, 236) 0px, rgb(230, 231, 236) 100%); background-color: rgb(230, 231, 236); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.frm_select_box:hover button {
	color: rgb(34, 34, 34);
}
.frm_select_label {
	
}
.frm_select {
	padding: 0px 30px 0px 10px; outline: 0px; border: 0px currentColor; border-image: none; height: 22px; line-height: 22px; position: relative; z-index: 1; background-color: transparent;
}
@media not all
{
.frm_select_box {
	padding: 0px;
}
.frm_select_box::after {
	border-width: 4px 4px 0px; border-style: solid dashed dashed; border-color: rgb(119, 119, 119) transparent transparent; top: 50%; width: 0px; height: 0px; right: 15px; margin-top: -2px; display: inline-block; position: absolute; content: " ";
}
.frm_select {
	height: 32px; -webkit-appearance: none;
}
}
.icon_radio {
	margin-top: -2px; margin-right: 3px;
}
.icon_checkbox {
	margin-top: -2px; margin-right: 3px;
}
.search.frm_input_box .frm_input_append {
	width: 30px; text-align: center; right: 0px; border-left-color: rgb(231, 231, 235); border-left-width: 1px; border-left-style: solid;
}
.search.frm_input_box .search_gray {
	margin-top: -0.2em;
}
.tab_navs {
	text-align: center; line-height: 30px; border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5); -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5); -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
}
.tab_navs::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.tab_nav {
	font-size: 14px; float: left;
}
.tab_nav a {
	padding: 0px 20px; outline: 0px; color: rgb(34, 34, 34); text-decoration: none; display: block;
}
.selected.tab_nav {
	background-color: rgb(212, 213, 213);
}
.mt .tab_nav a {
	border-right-color: rgb(231, 231, 235); border-right-width: 1px; border-right-style: solid;
}
.mt .selected.tab_nav {
	top: -1px; border-top-color: rgb(117, 116, 116); border-top-width: 3px; border-top-style: solid; position: relative;
}
.mt .selected.tab_nav a {
	line-height: 29px; margin-bottom: -2px; position: relative; background-color: rgb(212, 213, 213);
}
.mt .no_extra.tab_nav a {
	border-right-width: 0px;
}
.title_tab .tab_navs {
	line-height: 40px; border-bottom-color: rgb(231, 231, 235); box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.title_tab .tab_nav {
	margin-bottom: -1px;
}
.title_tab .tab_nav a {
	padding: 0px 21px;
}
.title_tab .first.tab_nav a {
	padding-left: 30px;
}
.title_tab .tab_nav:hover {
	border-bottom-color: rgb(160, 163, 171); border-bottom-width: 3px; border-bottom-style: solid;
}
.title_tab .selected.tab_nav {
	background: 0px; border-bottom-color: rgb(68, 181, 73); border-bottom-width: 3px; border-bottom-style: solid;
}
.tips_box {
	padding: 6px 15px; border-radius: 0px; border: 0px currentColor; border-image: none; color: rgb(34, 34, 34); background-color: rgb(224, 234, 246); -webkit-border-radius: 0; -moz-border-radius: 0;
}
.tips_box .em {
	color: rgb(225, 95, 99);
}
.tips_box_primary {
	padding: 6px 15px; border-radius: 3px; border: 1px solid rgb(209, 209, 209); border-image: none; color: rgb(102, 102, 102); background-color: rgb(241, 241, 241); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.tips_box_primary .em {
	color: rgb(225, 95, 99);
}
.disabled_box {
	padding: 0.4em 0.8em; border-radius: 0px; border: 1px solid rgb(231, 231, 235); border-image: none; font-size: 14px; box-shadow: none; background-color: rgb(244, 245, 249); -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.notices_box {
	border-radius: 0px; border: 1px solid rgb(231, 231, 235); border-image: none; line-height: 40px; background-color: rgb(255, 255, 255); -webkit-border-radius: 0; -moz-border-radius: 0;
}
.msg_box {
	text-align: center; line-height: 36px;
}
.msg_box .inner {
	background-color: rgb(200, 231, 252);
}
.msg_box a {
	color: rgb(109, 127, 139); display: block;
}
.empty_tips {
	padding: 100px 0px; text-align: center; color: rgb(141, 141, 141); font-size: 14px;
}
.mini_tips i {
	font-style: normal; font-weight: 400; margin-top: -3px; margin-right: 3px;
}
.mini_tips .icon_mini_tips {
	
}
.warn.mini_tips {
	color: rgb(225, 95, 99);
}
.success.mini_tips {
	color: rgb(127, 186, 79);
}
.weak_text.mini_tips {
	color: rgb(141, 141, 141);
}
.icon_after.mini_tips i {
	margin-right: 0px; margin-left: 3px;
}
.inset.article_box {
	border-radius: 0px; border: 1px solid rgb(231, 231, 235); border-image: none; height: 500px; -ms-overflow-y: auto; box-shadow: none; background-color: rgb(244, 245, 249); -moz-box-shadow: none; -webkit-box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.inset.article_box .inner {
	padding-right: 50px; padding-left: 50px;
}
.article_box .inner {
	padding: 90px 75px;
}
.article_box h3 {
	text-align: center; font-size: 22px;
}
.article_box h4 {
	padding-bottom: 14px; font-size: 16px; font-weight: 700;
}
.article_box h5 {
	padding-bottom: 14px; font-size: 16px; font-weight: 700;
}
.article_box h6 {
	padding-bottom: 14px; font-size: 14px; font-weight: 700;
}
.article_box ul.disc {
	padding-left: 20px; list-style-type: disc;
}
.article_box dl {
	padding-bottom: 14px; font-size: 14px;
}
.article_box li {
	padding-bottom: 14px; font-size: 14px;
}
.article_box p {
	padding-bottom: 14px; font-size: 14px;
}
.article_box pre {
	white-space: pre-wrap;
}
.article_box strong {
	font-style: normal; font-weight: 400;
}
.article_box .media {
	text-align: center; padding-bottom: 28px;
}
.article_box .img_wrp {
	display: inline-block; max-width: 750px;
}
.article_box .img_wrp img {
	width: 100%; vertical-align: top;
}
.article_box .img_wrp .mobile_width {
	width: 175px;
}
.article_box .sign {
	text-align: right; padding-top: 4em;
}
.article_box .company_sign {
	text-align: right; padding-top: 4em;
}
.article_box .strong.sign {
	font-size: 16px; font-weight: 700;
}
.article_box .strong.company_sign {
	font-size: 16px; font-weight: 700;
}
.article_box .no_extra {
	padding-bottom: 0px;
}
.text_box h4 {
	font-size: 16px; font-style: normal; font-weight: 400; margin-bottom: 10px;
}
.text_box .spacing {
	margin-top: 10px;
}
.mod_hd {
	
}
.mod_ft {
	
}
.mod_hd::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.mod_ft::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.mod_info {
	float: left;
}
.mod_opr {
	text-align: right;
}
.mod_opr .btn {
	margin-top: -0.2em;
}
.global_mod .global_extra {
	text-align: right;
}
.mt_layout.global_mod {
	line-height: 30px;
}
.mt_layout.global_mod .global_extra {
	margin-top: -30px;
}
.float_layout.global_mod {
	
}
.float_layout.global_mod::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.float_layout.global_mod .global_info {
	float: left;
}
.vm_box {
	height: 100%; vertical-align: middle; display: inline-block;
}
.msg_box {
	display: none;
}
.tips_box_tl {
	padding: 6px 15px; text-align: left; background-color: rgb(224, 234, 246);
}
.mini_tips a {
	color: rgb(34, 34, 34);
}
.article_box h3 {
	padding-bottom: 1em; font-size: 18px; font-style: normal; font-weight: 400;
}
.article_box h4 {
	font-size: 14px; font-style: normal; font-weight: 400;
}
.article_box h5 {
	font-size: 14px; font-style: normal; font-weight: 400;
}
.article_box h6 {
	font-size: 14px; font-style: normal; font-weight: 400;
}
.inset.news_box {
	border: 1px solid rgb(231, 231, 235); border-image: none; height: 500px; -ms-word-break: break-all; -ms-overflow-y: auto; -ms-word-wrap: break-word;
}
.inset.news_box .inner {
	padding-right: 50px; padding-left: 50px;
}
.news_box .inner {
	padding: 90px 75px;
}
.news_box pre {
	white-space: pre-wrap;
}
.news_box h3 {
	text-align: center; padding-bottom: 1em; font-size: 18px; font-style: normal; font-weight: 400;
}
.news_box h4 {
	padding-bottom: 1em; font-size: 14px; font-style: normal; font-weight: 400;
}
.news_box h5 {
	padding-bottom: 1em; font-size: 14px; font-style: normal; font-weight: 400;
}
.news_box h6 {
	padding-bottom: 1em; font-size: 14px; font-style: normal; font-weight: 400;
}
.news_box li {
	padding-bottom: 1em; font-size: 14px;
}
.news_box p {
	padding-bottom: 1em; font-size: 14px;
}
.news_box .table_wrp {
	padding-bottom: 1em; font-size: 14px;
}
.news_box strong {
	font-style: normal; font-weight: 400;
}
.news_box .em_text {
	font-weight: 700;
}
.news_box .media {
	text-align: center; padding-bottom: 2em;
}
.news_box .img_wrp {
	display: inline-block; max-width: 750px;
}
.news_box .img_wrp img {
	width: 100%; vertical-align: top;
}
.news_box .img_wrp .mobile_width {
	width: 175px;
}
.news_box .sign {
	text-align: right; padding-top: 4em;
}
.news_box .company_sign {
	text-align: right; padding-top: 4em;
}
.news_box .strong.sign {
	font-size: 16px; font-weight: 700;
}
.news_box .strong.company_sign {
	font-size: 16px; font-weight: 700;
}
.news_box .no_extra {
	padding-bottom: 0px;
}
.highlight_box {
	padding: 9px 30px; line-height: 1.6; margin-bottom: 20px; background-color: #DEF9BA;
}
.highlight_box .opr {
	padding: 7px 0px 0px 2em; float: right;
}
.highlight_box .opr_desc.opr {
	color: rgb(141, 141, 141); padding-top: 0px;
}
.highlight_box .links {
	margin-left: -1em;
}
.highlight_box .links .links_item {
	border-left-color: rgb(217, 218, 220);
}
.highlight_box .links .links_item:hover a {
	color: rgb(34, 34, 34);
}
.highlight_box .links .selected a {
	color: rgb(34, 34, 34);
}
.highlight_box .title {
	font-style: normal; font-weight: 400;
}
.highlight_box .title .new.icon_common {
	height: 14px; margin-top: 0px;
}
.highlight_box .desc {
	color: rgb(141, 141, 141); overflow: hidden;
}
.border.highlight_box {
	border-top-color: rgb(231, 231, 235); border-top-width: 1px; border-top-style: solid;
}
.icon_wrap.highlight_box {
	padding-top: 14px; padding-bottom: 14px; position: relative;
}
.icon_wrap.highlight_box .icon {
	top: 12px; width: 48px; height: 48px; display: inline-block; position: absolute;
}
.icon_wrap.highlight_box .title {
	padding-left: 60px;
}
.icon_wrap.highlight_box .desc {
	padding-left: 60px;
}
.icon_small.highlight_box .icon {
	margin-left: -10px;
}
.icon_small.highlight_box .title {
	padding-left: 40px;
}
.icon_small.highlight_box .desc {
	padding-left: 40px;
}
.page_global_tips.highlight_box {
	margin: -12px 30px 20px;
}
.tool_bar {
	padding-top: 20px; margin-top: 40px;
}
.tool_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.tool_bar .btn {
	margin-right: 1em;
}
.with_form.tool_bar {
	margin-top: 15px;
}
.border.tool_bar {
	border-top-color: rgb(231, 231, 235); border-top-width: 1px; border-top-style: solid; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.tc.tool_bar .btn {
	margin-right: 0.5em; margin-left: 0.5em;
}
.tr.tool_bar .btn {
	margin-right: 0px; margin-left: 1em;
}
.tool_area {
	
}
.tool_area::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.title_bar {
	
}
.title_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.title_bar .info {
	float: left;
}
.title_bar .opr {
	float: right;
}
.parent_title_bar {
	line-height: 35px; border-bottom-color: rgb(231, 231, 235); border-bottom-width: 2px; border-bottom-style: solid;
}
.parent_title_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.parent_title_bar h3 {
	font-size: 16px; font-style: normal; font-weight: 400;
}
.sub_title_bar {
	padding: 0px 20px; line-height: 38px;
}
.sub_title_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.sub_title_bar .info {
	float: left;
}
.sub_title_bar .opr {
	float: right;
}
.sub_title_bar h3 {
	font-size: 14px; font-style: normal; font-weight: 400;
}
.sub_title_bar h4 {
	font-size: 14px; font-style: normal; font-weight: 400; float: left;
}
.tool_bar {
	padding-top: 20px; padding-bottom: 50px;
}
.simple_gap.tool_bar {
	margin-bottom: 20px; margin-left: 20px;
}
.title_bar {
	padding: 0px 20px; line-height: 40px; border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: #DEF9BA;
}
.title_bar h3 {
	font-size: 14px; font-style: normal; font-weight: 400;
}
.global_title_bar {
	font-size: 16px; border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(244, 245, 249);
}
.global_title_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.global_title_bar .info {
	float: left;
}
.global_title_bar .opr {
	float: right;
}
.parent_title_bar {
	border-width: 1px;
}
.sub_title_bar {
	padding: 0px 30px; line-height: 55px;
}
.default.sub_title_bar {
	border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(244, 245, 249);
}
.light.sub_title_bar {
	border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(244, 245, 249);
}
.in_dialog.sub_title_bar {
	padding: 0px 20px; border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.dark.sub_title_bar {
	border-bottom-color: rgb(190, 190, 190); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: inset 0px 1px 0px 0px #ebebeb, 0px 1px 2px #ddd; background-image: linear-gradient(rgb(223, 223, 223) 0px, rgb(223, 223, 223) 100%); background-color: rgb(223, 223, 223); -moz-box-shadow: inset 0 1px 0 0 #ebebeb, 0 1px 2px #ddd; -webkit-box-shadow: inset 0 1px 0 0 #ebebeb, 0 1px 2px #ddd;
}
.global.sub_title_bar {
	padding: 0px; font-size: 16px;
}
.no_extra.sub_title_bar {
	background: 0px; padding: 0px; line-height: normal; border-bottom-width: 0px;
}
.tool_area {
	padding: 0px 30px;
}
button.btn {
	height: 32px; line-height: 28px;
}
.btn button {
	padding: 0px 22px; outline: 0px; border: 0px currentColor; border-image: none; height: 100%; overflow: visible; display: block; background-color: transparent;
}
.btn_input.btn {
	padding: 0px;
}
.btn_vcode.btn_input.btn {
	margin-left: 5px;
}
.btn_vcode.btn_input.btn button {
	padding: 0px; width: 110px;
}
.btn_vcode.btn {
	padding: 0px; width: 110px; margin-left: 5px;
}
.btn {
	border-width: 1px; border-style: solid; padding: 0px 22px; border-radius: 3px; height: 30px; text-align: center; line-height: 30px; overflow: visible; font-size: 14px; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.btn:hover {
	text-decoration: none;
}
.btn_mini.btn {
	padding: 0px 10px; height: 21px; line-height: 21px;
}
.btn_small.btn {
	padding: 0px 12px; height: 25px; line-height: 25px;
}
.btn_large.btn {
	padding: 0px 70px; height: 38px; line-height: 38px;
}
.btn_p20.btn {
	padding: 0px 20px;
}
.btn_p30.btn {
	padding: 0px 30px;
}
.btn_w125.btn {
	padding: 0px; width: 125px;
}
.btn_w150.btn {
	padding: 0px; width: 150px;
}
.btn_w220.btn {
	padding: 0px; width: 220px;
}
.btn_default {
	border-color: rgb(230, 231, 236); color: rgb(34, 34, 34); background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 100%); background-color: rgb(255, 255, 255);
}
.btn_default button {
	color: rgb(34, 34, 34);
}
.btn_default:hover {
	border-color: rgb(218, 219, 224); color: rgb(0, 0, 0); box-shadow: none; background-image: linear-gradient(rgb(230, 231, 236) 0px, rgb(230, 231, 236) 100%); background-color: rgb(230, 231, 236); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.btn_default:hover button {
	color: rgb(34, 34, 34);
}
.btn_warn {
	border-color: rgb(242, 77, 77); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(242, 77, 77) 0px, rgb(242, 77, 77) 100%); background-color: rgb(242, 77, 77);
}
.btn_warn button {
	color: rgb(255, 255, 255);
}
.btn_warn:hover {
	border-color: rgb(212, 61, 61); color: rgb(255, 255, 255); box-shadow: none; background-image: linear-gradient(rgb(212, 61, 61) 0px, rgb(212, 61, 61) 100%); background-color: rgb(212, 61, 61); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.btn_warn:hover button {
	color: rgb(255, 255, 255);
}
.btn_primary {
	border-color: rgb(68, 181, 73); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(68, 181, 73) 0px, rgb(68, 181, 73) 100%); background-color: rgb(68, 181, 73);
}
.btn_primary button {
	color: rgb(255, 255, 255);
}
.btn_primary:hover {
	border-color: rgb(47, 152, 51); color: rgb(255, 255, 255); box-shadow: none; background-image: linear-gradient(rgb(47, 152, 51) 0px, rgb(47, 152, 51) 100%); background-color: rgb(47, 152, 51); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.btn_primary:hover button {
	color: rgb(255, 255, 255);
}
.btn_disabled {
	border-color: rgb(218, 219, 224); color: rgb(165, 166, 170); cursor: default; background-image: linear-gradient(rgb(230, 231, 236) 0px, rgb(230, 231, 236) 100%); background-color: rgb(230, 231, 236);
}
.btn_disabled button {
	color: rgb(165, 166, 170); cursor: default;
}
.btn_disabled:hover {
	border-color: rgb(218, 219, 224); color: rgb(165, 166, 170); box-shadow: none; background-image: linear-gradient(rgb(230, 231, 236) 0px, rgb(230, 231, 236) 100%); background-color: rgb(230, 231, 236); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.btn_disabled:hover button {
	color: rgb(165, 166, 170); cursor: default;
}
.btn_loading {
	border-color: rgb(218, 219, 224); color: rgb(165, 166, 170); padding-right: 30px; padding-left: 42px; position: relative; cursor: default; background-image: linear-gradient(rgb(230, 231, 236) 0px, rgb(230, 231, 236) 100%); background-color: rgb(230, 231, 236);
}
.btn_loading button {
	color: rgb(165, 166, 170); cursor: default;
}
.btn_loading:hover {
	border-color: rgb(218, 219, 224); color: rgb(165, 166, 170); box-shadow: none; background-image: linear-gradient(rgb(230, 231, 236) 0px, rgb(230, 231, 236) 100%); background-color: rgb(230, 231, 236); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.btn_loading:hover button {
	color: rgb(165, 166, 170); cursor: default;
}
.btn_loading button {
	padding-right: 30px; padding-left: 42px; position: relative;
}
.btn {
	min-width: 60px;
}
.btn_input.btn {
	min-width: 104px;
}
.btn_input.btn button {
	width: 100%;
}
.btn_loading.btn {
	min-width: 32px;
}
.btn_add.btn i {
	margin-top: -2px; margin-right: 3px;
}
.btn_small.btn {
	min-width: 0px;
}
.icon_msg {
	width: 56px; height: 56px; vertical-align: middle; display: inline-block;
}
.page_msg .inner {
	position: relative; background-color: rgb(224, 234, 246);
}
.page_msg .inner::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.page_msg .msg_icon_wrp {
	font-size: 0px; margin-right: 10px; float: left;
}
.page_msg .msg_icon_wrapper {
	font-size: 0px; margin-right: 10px; float: left;
}
.page_msg .msg_content {
	overflow: hidden; padding-top: 5px;
}
.page_msg .msg_opr {
	top: 50%; right: 10px; margin-top: -10px; display: none; position: absolute;
}
.page_msg h4 {
	font-size: 16px; font-weight: 700;
}
.page_msg p {
	color: rgb(141, 141, 141); font-size: 14px;
}
.page_msg .spacing {
	padding: 0.5em 0px 2em;
}
.large.page_msg .inner {
	padding: 12px 70px;
}
.small.page_msg .inner {
	padding: 10px 40px 10px 10px;
}
.mini.page_msg .inner {
	padding: 8px 20px;
}
.mini.page_msg .msg_icon_wrp {
	margin-top: 3px; margin-right: 5px;
}
.mini.page_msg .msg_content {
	padding-top: 0px;
}
.single_line.page_msg .msg_content {
	padding-top: 15px;
}
.default.page_msg .inner {
	border: 0px currentColor; border-image: none; box-shadow: none; background-color: transparent; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.simple.page_msg {
	text-align: center;
}
.simple.page_msg .inner {
	text-align: left; display: inline-block; min-width: 55%;
}
.icon_msg {
	width: 46px; height: 46px; vertical-align: middle; display: inline-block;
}
.mini.page_msg p {
	color: rgb(34, 34, 34);
}
.mini.page_msg .msg_icon_wrapper {
	margin-top: 4px;
}
.mini.page_msg .msg_icon_wrp {
	margin-top: 4px;
}
.single_line.page_msg .msg_content {
	padding-top: 10px;
}
.page_msg h4 {
	font-size: 14px; font-style: normal; font-weight: 400;
}
.page_msg .msg_content {
	padding-top: 0px;
}

.popover {
	width: 257px; margin-top: 12px; position: absolute; z-index: 999;
}
.popover .popover_inner {
	padding: 30px 25px; border: 1px solid rgb(217, 218, 220); border-image: none; -ms-word-break: break-all; -ms-word-wrap: break-word; box-shadow: none; background-color: rgb(255, 255, 255); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.popover .popover_arrow {
	border-width: 0px 8px 8px; border-style: dashed dashed solid; border-color: transparent transparent rgb(217, 218, 220); left: 50%; width: 0px; height: 0px; margin-top: -8px; margin-left: -8px; display: inline-block; position: absolute;
}
.popover .popover_arrow_out {
	top: 0px;
}
.popover .popover_arrow_in {
	top: 1px; border-bottom-color: rgb(255, 255, 255);
}
.popover .popover_title {
	font-size: 14px; font-weight: 700;
}
.popover .popover_tips {
	color: rgb(141, 141, 141);
}
.popover .popover_bar {
	text-align: center; margin-top: 20px;
}
.popover .popover_bar .btn {
	margin: 0px 0.3em; padding: 0px 2em;
}
.simple.popover .popover_bar {
	text-align: left;
}
.simple.popover .btn {
	margin-right: 0.6em; margin-left: 0px;
}
.pos_left.popover .popover_arrow {
	left: 42px;
}
.pos_right.popover .popover_arrow {
	left: auto; right: 28px;
}
.normal_flow.popover {
	width: auto; position: relative; z-index: 0;
}
.normal_flow.popover .popover_inner {
	border-color: rgb(231, 231, 235); padding: 14px 20px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.normal_flow.popover .popover_content {
	width: auto;
}
.normal_flow.popover .popover_arrow_out {
	border-bottom-color: rgb(231, 231, 235);
}
.arrow_left.popover {
	margin-top: 0px; margin-left: 8px;
}
.arrow_left.popover .popover_arrow {
	border-width: 8px 8px 8px 0px; border-style: dashed solid dashed dashed; border-color: transparent rgb(217, 218, 220) transparent transparent; left: 0px; top: 25px; width: 0px; height: 0px; display: inline-block;
}
.arrow_left.popover .popover_arrow_in {
	left: 1px; border-right-color: rgb(255, 255, 255);
}
.z_top.popover {
	z-index: 10000;
}
.popover {
	width: 300px;
}
.popover .popover_title {
	padding-bottom: 5px; font-style: normal; font-weight: 400;
}
.popover .frm_input_box {
	width: auto; display: block;
}
.popover .popover_bar {
	text-align: justify; font-size: 0px; -ms-text-justify: distribute-all-lines;
}
.popover .popover_bar::after {
	margin: 0px; padding: 0px; width: 100%; height: 0px; overflow: hidden; font-size: 0px; display: inline-block; content: ".";
}
.popover .popover_bar .tj_item {
	text-align: left; font-size: 14px; -ms-text-justify: auto;
}
.popover .popover_bar .btn {
	margin: 0px;
}
.copylink_wrp {
	display: inline-block;
}
.copylink {
	display: inline-block;
}
.page_nav {
	margin: 20px 30px;
}
.page_nav .icon_goback {
	margin-right: 0.5em;
}
.page_nav a {
	color: rgb(141, 141, 141);
}
.page_nav a:hover {
	color: rgb(69, 154, 233);
}
.title_bottom.page_nav {
	margin-top: 0px;
}
.gototop {
	left: 0px; right: 0px; bottom: 100px; position: fixed;
}
.gototop_inner {
	width: 1200px; text-align: right; margin-right: auto; margin-left: auto;
}
.page_tips {
	left: 0px; top: 0px; width: 100%; text-align: center; position: fixed; z-index: 10000;
}
.page_tips .inner {
	padding: 5px 30px; color: rgb(255, 255, 255); display: inline-block; min-width: 250px;
}
.success.page_tips .inner {
	background-color: rgb(68, 181, 73);
}
.error.page_tips .inner {
	background-color: rgb(234, 160, 0);
}
.mask {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 9998; opacity: 0.75; background-color: rgb(0, 0, 0); -moz-opacity: .75; -khtml-opacity: .75;
}
.list.table_wrp {
	padding: 20px;
}
.list.table_wrp .table {
	border-top-width: 0px;
}
.list.table_wrp .table_cell {
	padding-right: 20px; padding-left: 20px; vertical-align: top;
}
.list.table_wrp .tbody .table_cell {
	padding-top: 15px; padding-bottom: 15px;
}
.with_border.table_wrp .table {
	border: 1px solid rgb(231, 231, 235); border-image: none;
}
.table {
	width: 100%; text-align: center; font-size: 14px; border-top-color: rgb(231, 231, 235); border-bottom-color: rgb(231, 231, 235); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.table_cell {
	padding: 0px; font-style: normal; font-weight: 400;
}
.thead {
	background-color: rgb(244, 245, 249);
}
.thead .table_cell {
	line-height: 32px; border-bottom-color: rgb(231, 231, 235); border-left-color: rgb(231, 231, 235); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid;
}
.thead :first-child.table_cell {
	border-left-width: 0px;
}
.tbody tr:hover {
	background-color: transparent;
}
.tbody tr.even {
	background-color: transparent;
}
.tbody tr.empty_item:hover {
	background: 0px;
}
.tbody tr:first-child .table_cell {
	border-top-width: 0px;
}
.tbody .table_cell {
	padding-top: 6px; padding-bottom: 6px; border-top-color: rgb(231, 231, 235); border-top-width: 1px; border-top-style: solid;
}
.thead .table_cell {
	border-left-width: 0px;
}
.tab_links.links {
	margin-left: -1em;
}
.tab_links.links .links_item {
	border-left-color: rgb(217, 218, 220);
}
.tab_links.links .links_item:hover a {
	color: rgb(34, 34, 34);
}
.tab_links.links .selected a {
	color: rgb(34, 34, 34);
}
.links_item {
	padding: 0px 1em; line-height: 1em; border-left-color: rgb(121, 121, 121); border-left-width: 1px; border-left-style: solid; display: inline-block;
}
.no_extra.links_item {
	border-left-width: 0px;
}
:first-child.links_item {
	border-left-width: 0px;
}
.links_item a {
	color: rgb(121, 121, 121); display: block;
}
.copyright {
	display: inline-block;
}
.links.ft {
	font-size: 12px;
}
.ft .links_item {
	border-left-color: rgb(241, 241, 241);
}
.ft .links_item a {
	color: rgb(241, 241, 241);
}
.faq {
	width: 178px; padding-left: 30px; font-size: 0px; margin-top: -60px;
}
.faq .links {
	text-align: left;
}
.faq .links_item {
	padding: 0px 0.5em; font-size: 12px; border-left-color: rgb(141, 141, 141);
}
.faq .links_item a {
	color: rgb(141, 141, 141);
}
.faq .links_item a:hover {
	color: rgb(69, 154, 233);
}
.faq .no_extra.links_item {
	padding-left: 0px;
}
.faq .tail {
	color: rgb(141, 141, 141); line-height: 30px; font-size: 12px;
}
.dialog_wrp {
	left: 50%; top: 50%; width: 726px; position: fixed; z-index: 3;
}
.label_block.dialog_wrp .frm_label {
	width: auto; font-size: 14px; margin-bottom: 1em; float: none; display: block;
}
.label_block.dialog_wrp .frm_tips {
	width: auto;
}
.label_block.dialog_wrp .frm_msg {
	width: auto;
}
.label_block.dialog_wrp .frm_controls {
	padding-left: 0px;
}
.simple.dialog_wrp .dialog_bd {
	padding: 90px 0px 110px; text-align: center;
}
.align_edge.dialog_wrp .dialog_bd {
	padding: 0px;
}
.dialog {
	border-radius: 0px; border: 1px solid transparent; border-image: none; overflow: hidden; background-color: rgb(255, 255, 255); -webkit-border-radius: 0; -moz-border-radius: 0;
}
.dialog_hd {
	padding: 0px 20px; height: 38px; line-height: 38px; border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid; position: relative; background-image: linear-gradient(rgb(244, 245, 249) 0px, rgb(244, 245, 249) 100%); background-color: rgb(244, 245, 249);
}
.dialog_hd h3 {
	color: rgb(34, 34, 34);
}
.dialog_hd .pop_closed {
	top: 50%; width: 16px; height: 16px; right: 20px; line-height: 999em; overflow: hidden; margin-top: -8px; position: absolute;
}
.dialog_bd {
	padding: 55px 45px;
}
.dialog_ft {
	margin: 0px; padding: 25px 0px; text-align: center; border-top-color: transparent; border-top-width: 1px; border-top-style: solid; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.dialog_ft .btn {
	margin-right: 0.3em; margin-left: 0.3em;
}
.simple_dialog_content {
	width: 400px; text-align: left; display: inline-block;
}
.simple_dialog_content .frm_input_box {
	width: auto; display: block;
}
.simple_dialog_content .frm_textarea_box {
	width: auto; display: block;
}
.simple_dialog_content .frm_tips {
	width: auto; display: block;
}
.simple_dialog_content .frm_msg {
	width: auto; display: block;
}
.dialog_content_list {
	padding: 0px 120px; height: 420px; position: relative; -ms-overflow-y: scroll;
}
.dialog_wrp {
	z-index: 9999;
}
.dialog {
	border-width: 0px; overflow: visible;
}
.dialog_ft {
	padding: 16px 0px; background-color: rgb(244, 245, 249);
}
.dialog_bd {
	min-height: 110px;
}
.dialog_hd {
	height: 52px; line-height: 52px; border-bottom-width: 0px;
}
.dialog_hd h3 {
	font-style: normal; font-weight: 400;
}
.tc_dialog_content {
	width: 420px; text-align: left; display: inline-block;
}
.has_ft_desc .dialog_bd {
	position: relative;
}
.has_ft_desc .dialog_ft_desc {
	left: 20px; bottom: -40px; position: absolute;
}
.ml1e {
	margin-left: 1em;
}
.dialog_process .form {
	padding-right: 45px; padding-left: 45px;
}
.dialog_process .dialog_bd {
	padding: 0px 0px 55px;
}
.dialog_process .processor_bar {
	margin-bottom: 45px;
}
.safe_check .form .inner {
	margin: 0px auto; width: 425px;
}
.safe_check .form .frm_hd {
	margin-bottom: 1.5em;
}
.safe_check .form .frm_hd .frm_title {
	font-size: 14px; font-style: normal; font-weight: 400; margin-bottom: 0px;
}
.safe_check .form .frm_hd .frm_desc {
	color: rgb(141, 141, 141);
}
.safe_check .form .frm_label {
	width: 5em; font-size: 14px; margin-bottom: 0px; float: left;
}
.safe_check .form .frm_radio_block_desc {
	padding-left: 23px;
}
.safe_check .form .page_msg {
	margin-left: -14em;
}
.safe_check .form_width_auto .inner {
	margin: 0px auto; width: auto; max-width: 500px;
}
.safe_check .form_owner_info .frm_label {
	width: 8em;
}
.safe_check .form_owner_info .inner {
	width: 500px;
}
.safe_check .tool_bar {
	padding-bottom: 0px;
}
.safe_check .tc.tool_bar {
	text-align: center; padding-left: 0px;
}
.page_msg .extra_msg h4 {
	font-style: normal; font-weight: 400;
}
.qrcode_scan .js_status {
	width: 280px;
}
.qrcode_scan .qrcode_wrp {
	width: 280px; height: 280px;
}
.bubbleTips {
	vertical-align: middle; display: inline-block; position: relative;
}
.warn.bubbleTips {
	color: rgb(225, 95, 99);
}
.success.bubbleTips {
	color: rgb(127, 186, 79);
}
.bubble_left {
	margin-left: 0.5em;
}
.bubble_left .in.bubbleTips_arrow {
	left: -5px;
}
.bubble_left .out.bubbleTips_arrow {
	left: -6px; border-right-color: rgb(231, 231, 235);
}
.bubble_right {
	margin-right: 0.5em;
}
.bubble_right .bubbleTips_arrow {
	border-right-color: transparent; border-left-color: rgb(255, 255, 255); border-right-width: 0px; border-left-width: 6px; border-right-style: dashed; border-left-style: solid;
}
.bubble_right .in.bubbleTips_arrow {
	right: -5px;
}
.bubble_right .out.bubbleTips_arrow {
	right: -6px; border-left-color: rgb(231, 231, 235);
}
.bubble_top {
	margin-top: 0.5em;
}
.bubble_top .bubbleTips_arrow {
	left: 50%; margin-left: -6px; border-right-color: transparent; border-bottom-color: rgb(255, 255, 255); border-top-width: 0px; border-left-width: 6px; border-right-style: dashed; border-bottom-style: solid;
}
.bubble_top .in.bubbleTips_arrow {
	top: 1px;
}
.bubble_top .out.bubbleTips_arrow {
	top: 0px; border-bottom-color: rgb(231, 231, 235);
}
.bubble_bottom {
	margin-bottom: 0.5em;
}
.bubble_bottom .bubbleTips_arrow {
	left: 50%; margin-left: -6px; border-top-color: rgb(255, 255, 255); border-right-color: transparent; border-bottom-width: 0px; border-left-width: 6px; border-top-style: solid; border-right-style: dashed;
}
.bubble_bottom .in.bubbleTips_arrow {
	bottom: 1px;
}
.bubble_bottom .out.bubbleTips_arrow {
	bottom: 0px; border-top-color: rgb(231, 231, 235);
}
.bubbleTips_inner {
	padding: 4.5px 12px; border: 1px solid rgb(231, 231, 235); border-image: none; line-height: 21px; -ms-word-break: break-all; -ms-word-wrap: break-word; background-color: rgb(255, 255, 255);
}
.bubbleTips_arrow {
	border-width: 6px 6px 6px 0px; border-style: dashed solid dashed dashed; border-color: transparent rgb(255, 255, 255) transparent transparent; top: 50%; width: 0px; height: 0px; margin-top: -6px; display: inline-block; position: absolute;
}
.icon20_common {
	width: 20px; height: 20px; line-height: 300px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.create_access {
	border: 2px dotted rgb(217, 218, 220); border-image: none; text-align: center; line-height: 80px; margin-bottom: 20px; display: block;
}
.create_access i {
	cursor: pointer;
}
.create_access a {
	color: rgb(217, 217, 217); line-height: normal; font-size: 14px; margin-right: 10px; margin-left: 10px; vertical-align: middle; display: none;
}
.create_access a strong {
	font-style: normal; font-weight: 400; display: block;
}
.create_access:hover {
	border-color: rgb(179, 179, 179);
}
.create_access:hover .add_gray {
	display: none;
}
.create_access:hover a {
	display: inline-block;
}
.create_access:hover a:hover {
	color: rgb(179, 179, 179);
}
.create_access_primary {
	border: 2px dotted rgb(217, 218, 220); border-image: none; text-align: center; line-height: 60px; font-size: 0px; margin-bottom: 20px; display: block;
}
.create_access_primary i {
	cursor: pointer;
}
.create_access_primary:hover {
	border-color: rgb(179, 179, 179);
}
.icon_menu {
	width: 23px; height: 23px; vertical-align: middle; display: inline-block;
}
.menu_box {
	margin-bottom: 150px;
}
.menu {
	padding-top: 8px;
}
.closed.menu .menu_item {
	display: none;
}
.menu_title {
	padding: 0px 30px; width: auto; color: ; line-height: 34px; overflow: hidden; white-space: nowrap; position: relative; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;color:#88C932;
}
.menu_title .new {
	margin-left: 3px;
}
.menu_title a {
	padding: 0px 30px; color: rgb(34, 34, 34); text-decoration: none; display: block;
}
.menu_title a:hover {
	text-decoration: none;
}
.clickable.menu_title {
	padding: 0px;
}
.clickable.menu_title i {
	cursor: pointer;
}
.clickable.menu_title:hover {
	background-color: rgb(244, 245, 249);
}
.selected.menu_title {
	color: rgb(255, 255, 255); background-color: rgb(68, 181, 73);
}
.selected.menu_title:hover {
	background-color: rgb(68, 181, 73);
}
.selected.menu_title a {
	color: rgb(255, 255, 255);
}
.menu_item {
	line-height: 34px;
}
.menu_item a {
	padding: 0px 0px 0px 63px; width: auto; color: rgb(34, 34, 34); overflow: hidden; display: block; white-space: nowrap; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
.menu_item a:hover {
	text-decoration: none;
}
.icon_menu {
	margin-right: 10px;
}
.icon_menu_switch {
	top: 50%; right: 16px; margin-top: -9px; position: absolute;
}
.menu {
	padding-bottom: 6px; border-top-color: rgb(231, 231, 235); border-top-width: 1px; border-top-style: solid;
}
.no_extra.menu {
	margin-top: 13px; border-top-width: 0px;
}
.extra.menu {
	border-bottom-color: rgb(231, 231, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.menu_title {
	margin-bottom: 0px;
}
.menu_item:hover {
	background-color: rgb(244, 245, 249);
}
.selected.menu_item {
	color: rgb(255, 255, 255); background-color: rgb(68, 181, 73);
}
.selected.menu_item a {
	color: rgb(255, 255, 255);
}
.menu_plugins {
	padding: 10px 0px;
}

.menu_plugins .btn_plugins_add i {
	margin-right: 5px;
}
.menu_primary_box {
	width: 208px;
}
.menu_primary_item {
	line-height: 32px;
}
.menu_primary_item:hover {
	background-color: rgb(244, 245, 249);
}
.selected.menu_primary_item {
	background-color: rgb(68, 181, 73);
}
.selected.menu_primary_item .menu_primary_link {
	color: rgb(255, 255, 255);
}
.sub.menu_primary_item .menu_primary_link strong {
	margin-left: 28px;
}
.menu_primary_link {
	color: rgb(34, 34, 34); display: block;
}
.menu_primary_link:hover {
	text-decoration: none;
}
.menu_primary_link strong {
	margin: 0px 14px; width: auto; overflow: hidden; font-style: normal; font-weight: 400; display: block; white-space: nowrap; cursor: pointer; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
.sorting.inner_menu_box .inner_menu_item {
	background-color: rgb(255, 255, 255);
}
.sorting.inner_menu_box .menu_opr {
	display: block;
}
.gray.inner_menu_box .dragging.inner_menu dt.inner_menu_item {
	background-color: rgb(244, 245, 249);
}
.gray.inner_menu_box .inner_menu_item:hover {
	background-color: rgb(244, 245, 249);
}
.gray.inner_menu_box .selected.inner_menu_item {
	background-color: rgb(244, 245, 249);
}
.sorting.gray.inner_menu_box .inner_menu_item {
	background-color: rgb(255, 255, 255);
}
.sorting.gray.inner_menu_box .dragging.inner_menu_item {
	background-color: rgb(244, 245, 249);
}
.with_switch.inner_menu_box .icon_dot {
	left: 25px; top: 50%; font-size: 10px; margin-top: -14px; position: absolute; -webkit-transform: scale(0.8);
}
.with_switch.inner_menu_box dt .inner_menu_link {
	padding-left: 20px;
}
.with_switch.inner_menu_box dd .inner_menu_link {
	padding-left: 36px;
}
.inner_menu {
	border-top-color: rgb(231, 231, 235); border-top-width: 1px; border-top-style: solid;
}
:first-child.inner_menu {
	border-top-width: 0px;
}
.inner_menu .menu_opr {
	top: 0px; right: 1em; display: none; position: absolute;
}
.inner_menu .menu_opr a {
	margin-top: -0.2em; margin-left: 0.5em; display: inline-block;
}
.inner_menu .menu_opr a.no_extra {
	margin-left: 0px;
}
.no_extra.inner_menu {
	border-top-width: 0px;
}
.inner_menu_item {
	line-height: 32px; position: relative;
}
.inner_menu_item:hover {
	background-color: rgb(244, 245, 249);
}
.selected.inner_menu_item {
	background-color: rgb(244, 245, 249);
}
.inner_menu_item:hover .menu_opr {
	display: block;
}
.selected.inner_menu_item .menu_opr {
	display: block;
}
.inner_menu_item:hover a {
	text-decoration: none;
}
.selected.inner_menu_item a {
	text-decoration: none;
}
.inner_menu_link {
	color: rgb(34, 34, 34); padding-left: 1em; text-decoration: none; display: block;
}
dd .inner_menu_link {
	padding-left: 2em;
}
.inner_menu_link strong {
	width: auto; overflow: hidden; font-style: normal; font-weight: 400; margin-top: -2px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-word-wrap: normal; -ms-text-overflow: ellipsis; max-width: 80px;
}
.drag_placeholder {
	margin: 8px; border: 1px solid rgb(231, 231, 235); border-image: none; height: 80px;
}
.sub_drag_placeholder {
	margin: 8px; border: 1px solid rgb(231, 231, 235); border-image: none; height: 32px;
}
.icon_dot {
	color: rgb(170, 170, 170); font-size: 8px; font-style: normal; font-weight: 400; vertical-align: middle; display: inline-block;
}
.icon_dropdown_switch {
	border-width: 5px 5px 0px; border-style: solid dashed dashed; border-color: rgb(198, 198, 198) transparent transparent; width: 0px; height: 0px; overflow: hidden; display: inline-block;
}
.highlight.icon_dropdown_switch {
	border-top-color: rgb(160, 160, 160);
}
.open .icon_dropdown_switch {
	border-top-color: transparent; border-bottom-color: rgb(198, 198, 198); border-top-width: 0px; border-bottom-width: 5px; border-top-style: dashed; border-bottom-style: solid;
}
.single_up .icon_dropdown_switch {
	border-top-color: transparent; border-bottom-color: rgb(198, 198, 198); border-top-width: 0px; border-bottom-width: 5px; border-top-style: dashed; border-bottom-style: solid;
}
.single_up.icon_dropdown_switch {
	border-top-color: transparent; border-bottom-color: rgb(198, 198, 198); border-top-width: 0px; border-bottom-width: 5px; border-top-style: dashed; border-bottom-style: solid;
}
.open .highlight.icon_dropdown_switch {
	border-bottom-color: rgb(160, 160, 160);
}
.single_up .highlight.icon_dropdown_switch {
	border-bottom-color: rgb(160, 160, 160);
}
.highlight.single_up.icon_dropdown_switch {
	border-bottom-color: rgb(160, 160, 160);
}
.icon_rank {
	width: 14px; height: 14px; display: inline-block; position: relative;
}
.icon_rank .single_up {
	top: 1px; right: 0px; position: absolute;
}
.icon_rank .single_down {
	top: 7px; right: 0px; position: absolute;
}
.icon_rank:hover .single_down {
	border-top-color: rgb(160, 160, 160);
}
.icon_rank:hover .single_up {
	border-bottom-color: rgb(160, 160, 160);
}
.icon12_del {
	color: rgb(179, 179, 179); font-size: 12px; font-style: normal; font-weight: 400; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer;
}
.icon12_del:hover {
	color: rgb(84, 84, 84);
}
body {
	background: rgb(231, 232, 235); min-width: 1200px;
}
